* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ece8e8;
}

.card-list-pokemon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

#encabezado {
    background-color: #f60c0c;
}